@media screen and (max-width: 992px) {
    .section_img {
      display: none !important;
    }

    .about_us_content {
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .reservation {
        height: max-content !important;
    }    
    .reservation_content {
        padding: 50px 40px !important;
    }
    .reservation_form form {
        margin-bottom: 50px;
    }
    .service_img {
        width: 50% !important;
        margin: auto;
        margin-bottom: 25px !important;
    }
    .service_img img {
      width: 100%;
    }
    .service_content{
      width: 80%;
      margin: auto;
      text-align: center;
    }
    
  }

  @media screen and (max-width: 576px) {
    .about_us_content {
        text-align: center;
    }
    .about_us_content a {
        width: 100% !important;
    }
    .menu_item_img {
        width: 50%;
        margin: auto;
    }
    .menu_item_price {
        right: 10% !important;
    }
    .item_description {
        width: 80%;
    margin: auto;
    text-align: center;
    }
  }

/* Start About us */
.about_us_content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.about_us_content h1 {
    line-height: 1.2;
    color: var(--secondary-color);
}

.about_us_content h5, .reservation_content h5 {
    font-weight: 200;
}

.icon {
    color: var(--main-color);
    margin-right: 10px;
}

.about_us_content a {
    width: 45%;
    border-radius: 0;
}

.section_img img {
    width: 100%;
}

.story_btn {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.story_btn:hover {
    background-color: #261612;
    border-color: #261612;
}
.vision_btn {
    color: #212529;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.vision_btn:hover {
    color: #212529;
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}
/* End About us */

/* Start services */
.service {
    margin-bottom: 70px;
}

.service_img {
    width: 90%;
    margin: auto;
}

.service_icon {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--secondary-color);
    background: var(--main-color);
}

.service p {
    font-weight: 300;
}

.service_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* End services */
/* Start discount */

.coffee_background {
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.coffee_background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51,33,29,0.8);
    z-index: -1;
    left: 0;
    top: 0;
}

.discount {
    height: 65vh;
}

.discount_content {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.discount_content h1:first-child, .reservation_content div h1:first-child {
    font-weight: bold;
    color: var(--main-color) !important;
    text-transform: uppercase;
}

.discount_form form {
    display: flex;
    align-items: flex-start;
}

.discount_form form div:first-child {
    margin-bottom: 0 !important;
}

input, select {
    padding: 15px 25px !important;
    border-radius: 0 !important;
}

.discount_form button, .reservation_form button, .footer_form button {
    padding: 15px;
    border-radius: 0;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.discount_form button:hover, .reservation_form button:hover, .order_btn button:hover, .footer_form button:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

 input:focus,
 select:focus,
 button:focus {
    box-shadow: 0 0 0 3px rgb(218 150 71 / 50%) !important;
    border-color: var(--hover-color) !important;
}

/* End discount */

/* Start Menu */
.menu_item_img {
    position: relative;
}

.menu_item_img img {
    width: 100%;
    border-radius: 50%;
}

.menu_item_price {
    background-color: var(--main-color);
    padding: 8px 12px;
    border-radius: 50%;
    font-weight: 300;
    position: absolute;
    right: 0;
}

.item_description {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.item_description p {
    font-weight: 300;
}

.order_btn {
    /* text-align: end; */
    margin-top: 10px;
}

.order_btn button {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Menu */
/* Start Reservation */
.reservation {
    height: 80vh;
}

.reservation_content {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    padding-left: 40px;
    color: white;
}

.reservation_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 40px;
    position: relative;
    z-index: 0;
}
.reservation_form::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51,33,29,0.8);
    z-index: -1;
    left: 0;
    top: 0;
}

.reservation_form input, .reservation_form select {
    margin-bottom: 20px;
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}

.reservation_form input:focus {
    background-color: transparent;
}

.reservation_form button {
    width: 100%;
}

.reservation_form input::placeholder {
    color: var(--main-color);
}
/* End Reservation */
/* Start Review */
.review_img img {
    width: 100%;
}
.review_content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.review_description p {
    font-weight: 300;
}
/* End Review */
/* Start Footer */
.footer_content {
    /* padding: 50px; */
    color: white;
}

.footer_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin-bottom: 70px; */
    padding: 50px;
}

.footer_content h4 {
    letter-spacing: 3px;
}

.end_footer {
    border-top: 1px solid rgba(256, 256, 256, .1);
    font-weight: 300;
    font-size: 20px;
}
.end_footer a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 400;
}

.footer_links a {
    border-radius: 0;
    margin-right: 5px;
}



.footer_form form div:first-child {
    margin-bottom: 10px !important;
} 

.footer_form form input {
    padding: 10px 15px !important;
}

.footer_form form button {
    width: 100%;
    padding: 10px;
} 
/* End Footer */


